
*, html, body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Sans-Serif;
}

.A{
  display: flex;
  width: 410px;
  height: 150vh;
  background-image: url('./PPGC/BG.jpeg');
}

.B{
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 3px;
  width: 800px;
  height: 80px;
  background-color: black;
  position: fixed;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.C{
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 5px;
}

.first{
  color: white;
  font-weight: 700;
  font-family: Arial;
}

.last{
  color: aqua;
  font-weight: 400;
  padding-left: 4px;
}

.navgas{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.navgas>li {
  list-style-type: none;
  padding: 5px;
}

.navgas>li>a {
  font-size: 8px;
  text-decoration: none;
  text-transform: capitalize;
}
.navgas>li>a:hover {
  color: RED;
  transition: all .3s ease-in-out;
}

.F{
  color: white;
  padding: 15px;
}
.G{
  background-color: aqua;
  color: black;
  padding: 15px;
}
.H{
  color: white;
  padding: 15px;
}

